<button
  *loadify="'todos'; let statusChanged$=statusChanged$"
  (click)="makeHttpReq('todos', 'get')">
  Get Todos
  <div *ngIf="(statusChanged$|async)?.loading">
    loading
  </div>
</button>
<!--<button libHttpTracker [config]="{api: 'todos', verb:'post'}" (click)="makeHtttpReq('todos', 'post', '')">Update todo 1</button>-->
<!--<button libHttpTracker [config]="{api: 'todos', verb:'delete'}" (click)="makeHtttpReq('todos', 'delete')">Delete todo 1</button>-->
<!---->
<!--<button libHttpTracker [config]="{api: 'comments', verb:'get'}" (click)="makeHtttpReq('comments', 'get')">Get comment 1</button>-->
<!--<button libHttpTracker [config]="{api: 'comments', verb:'post'}" (click)="makeHtttpReq('comments', 'post', '')">Update comment 1</button>-->
<!--<button libHttpTracker [config]="{api: 'comments', verb:'delete'}" (click)="makeHtttpReq('comments', 'delete')">Delete comment 1</button>-->

