<div style="display: flex; justify-content: center; flex-direction: column; align-items: center">
  <header class="header">
    <h1>ngx-loadify</h1>
    <p class="description">
      A dead simple library to manage HTTP loading/success/error, so you won't have to
    </p>
  </header>

  <button
    *loadify="'v2/5d5ac0062f00006e0036f88d'; let statusChanged$=statusChanged$"
    class="my-button"
    (click)="makeHttpReq()">
    Get Todo
  </button>

  <div class="code-editor">
    <pre>{{code}}</pre>
  </div>
</div>
